- content_for :title do
  = page_title(@stream.name)
- content_for :feeds_discovery do
  = auto_discovery_link_tag(:atom, stream_path(@stream, format: :atom), title: "#{@stream.name} Stream")
.row
  .col-md-9.stream
    %h2= link_to(@stream.name, @stream)
    - @stream_archive.posts_by_year.in_groups_of(3, false).each do |row|
      .row
        - row.each do |year, posts|
          .col-md-4
            %h2.year= year
            = render partial: 'posts/post', collection: posts
  .col-md-3.other-streams
    %h2 Other streams
    %ul
      %li= link_to("All", streams_path)
      - @stream_archive.other_streams.each do |stream|
        %li= link_to(stream.name, stream)