.post{class: "post-#{post.category.parameterize}", id: dom_id(post)}
  %h3
    %small= post_category(post)
    = link_to(post.title, post.url || '#')
  %p
    = post.body
    = post_permalink(post)
  - if user_signed_in?
    .edit-tools
      = link_to(glyphicon(:pencil), edit_post_path(post))
      = link_to(glyphicon(:trash), post_path(post), :method => :delete, data: {confirm: "Are you sure?"})
  .star-rating= post_rating(post)