.post{class: "post-#{post.category.parameterize}", id: dom_id(post)}
  %h3
    %small= post_category(post)
    = link_to(post.title, post.url || '#')
  %p
    = post.body
    = post_permalink(post)
  .star-rating= post_rating(post)